<section class="cd-hero">
  <header class="cd-header">
    <h10>Services</h10>
    <hr>
  </header>
  <ul class="cd-hero-slider autoplay">
    <li class="selected">
      <div class="cd-full-width">
        <%= image_tag "marketings.png", :class => "marketings" %>

        <h2>Digital Marketing and Consulting</h2>
        <p>We help ensure that your website gets the traffic it deserves by developing a presence in all web channels: Social Media, SEO, PPC and more</p>
      </div> <!-- .cd-full-width -->
    </li>

    <li>
      <div class="cd-half-width">
        <h2>Technologies</h2>
        <p>We work with the latest methodologies and technologies on the right are some of the technologies we use and are well versed in</p>
      </div>

      <div class="cd-half-width cd-img-container">
        <%= image_tag "technologies.png", :class => "technologies" %>
      </div>
    </li>

    <li>
      <div class="cd-half-width cd-img-container">
        <%= image_tag "whiteboard.png", :class => "board" %>
      </div>

      <div class="cd-half-width">
        <h2>Web Application Development</h2>
        <p>In addition to assisting with defining the product vision, we can also build it. We build elegant and maintainable code using software engineering best practices and Agile methodologies</p>
      </div>

    </li>

    <li>
      <div class="e-commerce">
        <h2>E-commerce</h2>
        <p>Our custom E-Commerce solutions enable you to provide an elegant shopping experience for your customers, along with integrations into a variety of payment processors and analytics engines</p><br><br>
      </div>
        <div class="commercepic">
          <%= image_tag "commerce.jpg", :class => "commerce" %>
        </div>

    </li>

    <li>
      <div class="cd-half-width cd-img-container">
        <%= image_tag "designs.jpg", :class => "mac" %>
      </div> <!-- .cd-half-width.cd-img-container -->

      <div class="cd-half-width">
        <h2>Website Design and Branding</h2>
        <p>Our team uses superior design principles to elevate your brand and establish a web presence that showcases your company</p>
      </div> <!-- .cd-half-width -->

    </li>

  </ul> <!-- .cd-hero-slider -->

  <div class="cd-slider-nav">
    <nav>
      <span class="cd-marker item-1"></span>

      <ul>
        <li class="selected"><a href="#0"><%= image_tag "marketing.png", :class => "nav-img" %></a></li>
        <li><a href="#0"><%= image_tag "cloud.png", :class => "nav-img" %></a></li>
        <li><a href="#0"><%= image_tag "development.png", :class => "nav-img" %></a></li>
        <li><a href="#0"><%= image_tag "ecommerce.png", :class => "nav-img" %></a></li>
        <li><a href="#0"><%= image_tag "design.png", :class => "nav-img" %></a></li>
      </ul>
    </nav>
  </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
